[Unit]
Description=Workplace backup every twelve hours

[Timer]
OnCalendar=*-*-* 00,12:00:00
Persistent=true
RandomizedDelaySec=15m
Unit=workplace-backup.service

[Install]
WantedBy=timers.target
